.modal-styles {
  font-family: sans-serif;
}

.btn-modal {
  display: none;
}

@media screen and (min-width: 720px) {
  .btn-modal {
    display: block;
  }

  .contenedor-adjuntos {
    display: none;
  }
}
